@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Chakra Petch', sans-serif;
}